/*couleurs utilisées. Noms utilisés conforme à la chartre graphique pour rendre les futurs changements fluides */
$degrade :linear-gradient(174deg, rgba(255, 121, 218, 1) 10%, rgba(147, 86, 220, 1) 90%);
$primaire: #9356dc;
$secondaire: #ff79da;
$tertiaire: #99edd0;